body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.loading-spinner {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.8)
		url('../../images/ripple.gif')
		50% 50%
		no-repeat;
}

.error {
	color: #DD0000;
}

.success {
	color: #33BB33;
}
