<div class="live-selector">
    <mat-slide-toggle
        [checked]="live"
        (change)="liveToggled($event)">
        Live updates to match grid in real-time
    </mat-slide-toggle>
</div>
<div class="content">
    <grid
        [data]="gridData"
        [height]="dim"
        [width]="dim"
        (updated)="gridUpdated($event)">
    </grid>
    <div class="artist-form">
        <form>
            <div class="form-group">
                <label for="artist">Name</label>
                <input
                    type="text"
                    id="artist"
                    name="artist"
                    [(ngModel)]="painting.artist"
                    placeholder="optional" />
            </div>
            <div class="form-group">
                <label for="artist">Caption</label>
                <textarea id="caption"
                    name="caption"
                    [(ngModel)]="painting.caption"
                    placeholder="optional">
                </textarea>
            </div>
            <div class="submit center">
                <button
                    mat-raised-button
                    color="primary"
                    (click)="submit(true)"
                    [disabled]="!apiCallComplete">
                    Save
                </button>
            </div>
        </form>
    </div>

    <div class="center">
        <div class="reset">
            <button
                mat-raised-button
                color="warn"
                (click)="reset()"
                [disabled]="!apiCallComplete">
                Reset
            </button>
        </div>
    </div>
</div>
