@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0%;
}

.center {
    text-align: center;
}

.small {
    font-size: 0.8rem;
}

.secondary-text {
    color: #808080;
}
